html{
    background-image: url('img/fondo.jpg');
}

body{
    font-family: 'Dela Gothic One';
    font-size: 30px;
}

.estilofoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
.text-blue{
    color:blue
}

.text-green{
    color:green
    
}